.unlift {
    margin-top: 3px;
}

.resultscontainer {
    width: 40%;
    float: right;
}

#chartdiv {
    width: 100%;
    height: 500px;
    overflow: hidden;
}

fieldset {
    float: left;
    width: 60%;
}

.inputGroupContainer {
    float: left;
}

.control-label {
    float: left;
    width: 20%;
}

#chartCheck {
    width: 50%;
    float: left;
}

.startCalc {
    margin-left: 30px;
    float: left;
    padding-right: 0px;
}

#startCalcBtn {
    float: right;
    width: 70%;
}

#chartCheckboxLabel {
    cursor: pointer;
}

#chartCheckbox {
    cursor: pointer;
}

.form-horizontal {
    z-index: 99;
}

.discordBtn {
    float:right;
    background-color: #7289DA;
    border-color: #7289DA;
    margin-top: 2px;
    margin-right: 5px;
}
legend {
    height: 40px;
}

.btcBtn {
    float:right;
    margin-top: 2px;
    margin-right: 10px;
}
